In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('/home/wasee/projects/ml-project-foundation/data/raw/employee_attrition_performance.csv')

In [3]:
df

,employee_id,age,gender,education,department,job_role,monthly_salary,years_at_company,years_in_current_role,performance_score,...,overtime,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,stock_option_level,relationship_satisfaction,environment_satisfaction,attrition
0,EMP00001,42,Female,Master,Finance,Role_22,107433,2,0,3.4,...,Yes,11,3,21,0,1,0,1,4,No
1,EMP00002,35,Male,Master,HR,Role_8,77660,4,0,3.4,...,Yes,30,4,29,1,2,0,3,3,No
2,EMP00003,40,Male,PhD,Legal,Role_1,114377,3,0,4.1,...,No,10,2,72,0,3,2,4,4,Yes
3,EMP00004,35,Male,High School,R&D,Role_15,79284,2,1,2.9,...,No,9,6,24,0,0,0,3,3,No
4,EMP00005,47,Male,Bachelor,Finance,Role_11,95933,1,1,3.3,...,No,10,2,52,0,0,3,2,3,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,EMP09996,40,Male,High School,Engineering,Role_23,85575,6,2,3.2,...,No,4,10,28,0,1,0,1,4,No
9996,EMP09997,28,Female,PhD,R&D,Role_15,108003,6,2,3.4,...,No,6,4,52,2,0,0,3,2,No
9997,EMP09998,38,Male,Bachelor,Engineering,Role_18,87503,4,1,3.1,...,No,9,6,36,1,0,1,4,3,Yes
9998,EMP09999,34,Female,High School,Engineering,Role_2,79382,0,0,3.4,...,Yes,22,6,38,0,0,0,3,3,No
9999,EMP10000,34,Female,PhD,Legal,Role_27,101594,2,2,3.2,...,Yes,1,2,23,0,1,3,4,3,No

In [4]:
df_raw = df.copy()

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                10000 non-null  object
 1   age                        10000 non-null  int64
 2   gender                     10000 non-null  object
 3   education                  10000 non-null  object
 4   department                 10000 non-null  object
 5   job_role                   10000 non-null  object
 6   monthly_salary             10000 non-null  int64
 7   years_at_company           10000 non-null  int64
 8   years_in_current_role      10000 non-null  int64
 9   performance_score          10000 non-null  float64
 10  job_satisfaction           10000 non-null  float64
 11  work_life_balance          10000 non-null  int64
 12  overtime                   10000 non-null  object
 13  distance_from_home_km      10000 non-null  int64
 14  num_projects_last_year     10000 non-null  int64
 15  training_hours_last_year   10000 non-null  int64
 16  num_promotions             10000 non-null  int64
 17  last_promotion_years_ago   10000 non-null  int64
 18  stock_option_level         10000 non-null  int64
 19  relationship_satisfaction  10000 non-null  int64
 20  environment_satisfaction   10000 non-null  int64
 21  attrition                  10000 non-null  object
dtypes: float64(2), int64(13), object(7)
memory usage: 1.7+ MB

In [6]:
df_raw.describe(include='all')

,employee_id,age,gender,education,department,job_role,monthly_salary,years_at_company,years_in_current_role,performance_score,...,overtime,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,stock_option_level,relationship_satisfaction,environment_satisfaction,attrition
count,10000,10000.000000,10000,10000,10000,10000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000
unique,10000,NaN,3,4,8,49,NaN,NaN,NaN,NaN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,EMP09984,NaN,Male,Bachelor,Engineering,Role_19,NaN,NaN,NaN,NaN,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
freq,1,NaN,4869,4526,1272,239,NaN,NaN,NaN,NaN,...,7067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8600
mean,NaN,37.848500,NaN,NaN,NaN,NaN,85422.334500,3.815100,1.301900,3.435560,...,NaN,10.618100,4.024900,39.795300,0.395200,0.921400,1.006800,2.902200,2.898700,NaN
std,NaN,9.501872,NaN,NaN,NaN,NaN,18519.436876,4.131588,1.764275,0.525579,...,NaN,10.212349,1.949477,19.604056,0.650276,1.362721,1.003322,0.940916,0.933555,NaN
min,NaN,22.000000,NaN,NaN,NaN,NaN,38957.000000,0.000000,0.000000,1.400000,...,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,NaN
25%,NaN,31.000000,NaN,NaN,NaN,NaN,72177.750000,1.000000,0.000000,3.100000,...,NaN,3.000000,3.000000,26.000000,0.000000,0.000000,0.000000,2.000000,2.000000,NaN
50%,NaN,37.000000,NaN,NaN,NaN,NaN,84043.500000,3.000000,1.000000,3.400000,...,NaN,7.000000,4.000000,40.000000,0.000000,0.000000,1.000000,3.000000,3.000000,NaN
75%,NaN,45.000000,NaN,NaN,NaN,NaN,97020.000000,6.000000,2.000000,3.800000,...,NaN,14.000000,5.000000,53.000000,1.000000,1.000000,2.000000,4.000000,4.000000,NaN
max,NaN,65.000000,NaN,NaN,NaN,NaN,163489.000000,33.000000,15.000000,5.000000,...,NaN,107.000000,10.000000,119.000000,4.000000,14.000000,3.000000,4.000000,4.000000,NaN

In [9]:
df_raw.drop(
    columns=[
        "relationship_satisfaction",
        "stock_option_level",
        "employee_id",
        "job_role",
        "years_in_current_role"
    ],
    inplace=True
)
df_raw.head()

,age,gender,education,department,monthly_salary,years_at_company,performance_score,job_satisfaction,work_life_balance,overtime,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,environment_satisfaction,attrition
0,42,Female,Master,Finance,107433,2,3.4,3.2,3,Yes,11,3,21,0,1,4,No
1,35,Male,Master,HR,77660,4,3.4,3.4,2,Yes,30,4,29,1,2,3,No
2,40,Male,PhD,Legal,114377,3,4.1,3.6,3,No,10,2,72,0,3,4,Yes
3,35,Male,High School,R&D,79284,2,2.9,3.0,3,No,9,6,24,0,0,3,No
4,47,Male,Bachelor,Finance,95933,1,3.3,3.3,3,No,10,2,52,0,0,3,No

In [10]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       10000 non-null  int64
 1   gender                    10000 non-null  object
 2   education                 10000 non-null  object
 3   department                10000 non-null  object
 4   monthly_salary            10000 non-null  int64
 5   years_at_company          10000 non-null  int64
 6   performance_score         10000 non-null  float64
 7   job_satisfaction          10000 non-null  float64
 8   work_life_balance         10000 non-null  int64
 9   overtime                  10000 non-null  object
 10  distance_from_home_km     10000 non-null  int64
 11  num_projects_last_year    10000 non-null  int64
 12  training_hours_last_year  10000 non-null  int64
 13  num_promotions            10000 non-null  int64
 14  last_promotion_years_ago  10000 non-null  int64
 15  environment_satisfaction  10000 non-null  int64
 16  attrition                 10000 non-null  object
dtypes: float64(2), int64(10), object(5)
memory usage: 1.3+ MB

In [11]:
df["attrition"] = df["attrition"].map({"Yes": 1, "No": 0})

starting a pipeline

In [13]:
from sklearn.model_selection import train_test_split

X = df.drop("attrition", axis=1)
y = df["attrition"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [14]:
num_cols = [
    "age", "monthly_salary", "years_at_company",
    "distance_from_home_km", "num_projects_last_year",
    "training_hours_last_year", "num_promotions",
    "last_promotion_years_ago", "performance_score",
    "job_satisfaction", "environment_satisfaction",
    "work_life_balance"
]

cat_cols = [
    "gender", "education", "department", "overtime"
]

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), num_cols),
        ("cat", OneHotEncoder(drop="first", handle_unknown="ignore"), cat_cols)
    ]
)

In [17]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

model = Pipeline(
    steps=[
        ("preprocessing", preprocessor),
        ("classifier", RandomForestClassifier(n_estimators=100, random_state=42))
    ]
)

In [18]:
model.fit(X_train, y_train)

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['age', 'monthly_salary',
                                                   'years_at_company',
                                                   'distance_from_home_km',
                                                   'num_projects_last_year',
                                                   'training_hours_last_year',
                                                   'num_promotions',
                                                   'last_promotion_years_ago',
                                                   'performance_score',
                                                   'job_satisfaction',
                                                   'environment_satisfaction',
                                                   'work_life_balance']),
                                                 ('cat',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore'),
                                                  ['gender', 'education',
                                                   'department',
                                                   'overtime'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

In [19]:
from sklearn.metrics import classification_report

y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92      1720
           1       0.46      0.02      0.04       280

    accuracy                           0.86      2000
   macro avg       0.66      0.51      0.48      2000
weighted avg       0.81      0.86      0.80      2000

In [20]:
df_raw['attrition'].value_counts()

attrition
No     8600
Yes    1400
Name: count, dtype: int64

In [21]:
from sklearn.metrics import classification_report

y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92      1720
           1       0.46      0.02      0.04       280

    accuracy                           0.86      2000
   macro avg       0.66      0.51      0.48      2000
weighted avg       0.81      0.86      0.80      2000

In [27]:
import pandas as pd

df = pd.read_csv("/home/wasee/projects/ml-project-foundation/data/raw/employee_attrition_performance.csv")
df.head()

,employee_id,age,gender,education,department,job_role,monthly_salary,years_at_company,years_in_current_role,performance_score,...,overtime,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,stock_option_level,relationship_satisfaction,environment_satisfaction,attrition
0,EMP00001,42,Female,Master,Finance,Role_22,107433,2,0,3.4,...,Yes,11,3,21,0,1,0,1,4,No
1,EMP00002,35,Male,Master,HR,Role_8,77660,4,0,3.4,...,Yes,30,4,29,1,2,0,3,3,No
2,EMP00003,40,Male,PhD,Legal,Role_1,114377,3,0,4.1,...,No,10,2,72,0,3,2,4,4,Yes
3,EMP00004,35,Male,High School,R&D,Role_15,79284,2,1,2.9,...,No,9,6,24,0,0,0,3,3,No
4,EMP00005,47,Male,Bachelor,Finance,Role_11,95933,1,1,3.3,...,No,10,2,52,0,0,3,2,3,No

In [28]:
df_sample = df.sample(n=10, random_state=42)

In [29]:
df_inference = df_sample.drop(columns=["attrition"])

In [32]:
import os
os.makedirs("data/inference", exist_ok=True)

In [33]:
df_inference.to_csv(
    "data/inference/new_employees.csv",
    index=False
)

In [34]:
df_inference.columns

Index(['employee_id', 'age', 'gender', 'education', 'department', 'job_role',
       'monthly_salary', 'years_at_company', 'years_in_current_role',
       'performance_score', 'job_satisfaction', 'work_life_balance',
       'overtime', 'distance_from_home_km', 'num_projects_last_year',
       'training_hours_last_year', 'num_promotions',
       'last_promotion_years_ago', 'stock_option_level',
       'relationship_satisfaction', 'environment_satisfaction'],
      dtype='object')